html,body,#map {
	height:100%;
	font-family:"Montserrat",Arial;
	padding:0;
	margin:0;
}
body{
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

input.expensiveness2  {
	-webkit-appearance: none;
	background-color: #222;
	border: 5px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 50px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	
}
hr {
	width:100%;
	padding-right: 1px;
}


#legend {
	background:#fff;
	box-shadow:0 px 10px rgba(0,0,0,0.65);
	position:absolute;
	z-index:2000;
	bottom: 35px;
	left:50px;
	padding:15px;
	width:200px;
	height: auto;

}

#legend .bullet-wrapper {
    display: inline-block;
    width: 40px;
}

#legend  li {
	font-size: .5em;
	margin: 2px 0px 2px -2px;
	text-transform: uppercase;
	list-style: none;
	text-align: left;
}

#legend li img {
}

ul#expensiveness {
    padding-left: 20px;
}

#expensiveness0 {
	text-align: right;
}

#expensiveness0-bullet img {
    margin-left: 5px;
}

#expensiveness1-bullet img {
    margin-left: 3px;
}

#expensiveness2-bullet img {
    margin-left: 1px;
}

#sweeten-bullet img {
    margin-left: 6px;
}

.expensiveness-text {
    display: inline-block;
    width: 90px;
    position: relative;
    bottom: 4px;
}

#expensiveness input {
    position: relative;
    bottom: 3px;
}

/* Time Buttons */
#menu {
	position:absolute;
	top:300px;
	left:50px;
	width:0;
	height:100px;
	background:transparent;
	z-index:10;
}

#menu a {
	margin:1px 10px 0 0;
	float:right;
	vertical-align:baseline;
	width:70px;
	padding:10px;
	text-align:center;
	font:bold 11px Helvetica,Arial;
	line-height:normal;
	color:#555;
	border-radius:4px;
	border:1px solid #777;
	background:#fff;
	text-decoration:none;
	cursor:pointer;
}

#menu a.selected,#menu a:hover {
	color:#939598;
}

.leaflet-popup {
	position: absolute;
	text-align: center;
	}
.leaflet-popup-content-wrapper {

	padding: 1px;
	text-align: left;
	-webkit-border-radius: 0px;
	        border-radius: 12px;
	}
.leaflet-popup-content {
	margin: 15px 12px;
	line-height: 1.2em;
	}
.leaflet-popup-content p {
	margin: 1px 0;
	}
.leaflet-popup-tip-container {

	margin: 0 auto;
	width: 20px;
	height: 20px;
	position: relative;
	overflow: hidden;
	}
.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;
	margin: -10px auto 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: white;
	box-shadow: 0 1px 14px rgba(0,0,0,0.2);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 3px 0 0;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}
	
 #binlink {
	 background-color: #0000d4;
	 padding: 2px 5px 5px 5px;
	 color: #fff;
	 margin:0px 0px 3px 0px
 }
 #binlink a{
	 color: #fff;
 }

	h1, h2, h3, h4, h5, h6 {
	display: inline-block;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

h1{
	font-size: 1.5em;
	font-weight: 700;
	-webkit-margin-before: .25em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

h2{
	padding: 8px 0px 4px 0px
}

h4 { 
	font-size:.75em;
	color: #8F8F8F;
	text-transform: uppercase; 
	padding: 0px 0px 4px 0px
}

	
#initial_cost h1{
	font-size:2em;
	padding: 0px 0px 12px 0px;
	letter-spacing: -.03em;
	line-height: 0em;
}
#profes_title h3{
	font-size: .75em;
}

#date_display h4{
	font-size: 1em;
	line-height: 1em;
}

#estimated_fee h2{
	font-size: 1.5em;
	padding:0em 0em .5em 0em;
}

#job_number a{
	font-size: 1em;
	color: #0000d4;
	margin-bottom: 1px;
}

#owner_name h3{
	padding: 1px 0px 0px 0px;
}
h5{
	text-transform: uppercase;
	padding-right: 1px;
}

#legend h5{
text-transform: none
}
.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
	}
	
.leaflet-popup-scrolled {
	overflow-x:hidden;

	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}


/* Popup content */
div.filters {
	background-color:#f0f;
}

div.popup-content-section{
	padding:0;
	
}


.leaflet-popup-scrolled {
	border:0;
}

popup-content strong{
	text-align: center;
}

/* Zoom changes */
div.cartodb-zoom {
	position:relative;
	float:left;
	display:block;
	margin:20px 0 0 20px;
	width:28px;
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 0 4px 2px;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 0 4px 2px;
	box-shadow:rgba(0,0,0,0.2) 0 0 4px 2px;
	z-index:5;
	background:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	border:1px solid #999;
}

div.cartodb-zoom a {
	position:relative;
	display:block;
	width:28px;
	height:28px;
	padding:0;
	font:bold 20px Arial;
	color:#999;
	text-align:center;
	line-height:normal;
	text-decoration:none;
	text-indent:-9999px;
	line-height:0;
	font-size:0;
	background:url(../img/other.png) no-repeat 0 0;
}

div.cartodb-zoom a.zoom_in {
	border-bottom:1px solid #E6E6E6;
	background-position:-68px 10px;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

div.cartodb-zoom a.zoom_in:hover {
	background-position:-68px -14px;
	cursor:pointer;
}

div.cartodb-zoom a.zoom_out {
	background-position:-94px 10px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

div.cartodb-zoom a.zoom_out:hover {
	background-position:-94px -14px;
	cursor:pointer;
}

div.cartodb-zoom a.disabled {
	filter:alpha(opacity=20);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	opacity:.2;
}

div.cartodb-zoom a.disabled:hover {
	cursor:default;
	color:#999;
}

/* CartoDB zoom info control */
div.cartodb-zoom-info {
	position:absolute;
	display:block;
	top:100px;
	left:20px;
	margin:20px 0 0;
	width:28px;
	height:1px;
	font:normal 13px Helvetica,Arial;
	color:#858585;
	text-align:center;
	line-height:12px;
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 0 4px 2px;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 0 4px 2px;
	box-shadow:rgba(0,0,0,0.2) 0 0 4px 2px;
	z-index:5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	border:1px solid #999;
	background:#fff;
}

/* Slider central */
/* The whole slider unit. Move around the page here */
#slider {
	height: 2px;
	position:absolute;
	bottom:50px;
	left: 310px;
	width:50%;
	z-index:2000;
}

/* unused? */
.ui-rangeSlider {
	height:10px;
}

/* base bar*/
.ui-rangeSlider .ui-rangeSlider-innerBar {
	height:15px;
	margin:3px 2px 2px 0px;
	border: #0000d4;
	border-width: 5px;
	background:#fff;
	border: 1px solid #0000d4;

	}

/* slider handles, used to change the range of time */
.ui-rangeSlider .ui-rangeSlider-handle {
	width:20px;
	height:20px;
	margin:auto 0px;
	-webkit-box-shadow: 0px 2px 2px 0px #999;
	-moz-box-shadow: 0px 2px 2px 0px #999;
	box-shadow: 0px 2px 2px 0px #999;
	border-radius: 50%;
	background: #dcdcdc;
	cursor:hand;
	border: 4px solid #fff;

	}

/* selected range bar */
.ui-rangeSlider .ui-rangeSlider-bar {
	height:9px;
	margin:7px 4px 7px 12px;
	background: #0000d4;
	cursor:move;
	cursor:hand;
	cursor:-moz-grab;
}

.ui-rangeSlider .ui-rangeSlider-bar.ui-draggable-dragging {
	cursor:-moz-grabbing;
	background-color: #0000d4;
	cursor:hand;
}

.ui-rangeSlider-arrow {
	height:10px;
	margin:2px 0;
	width:10px;
	background-repeat:no-repeat;
}

.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow {
	background-image:url(icons-classic/resultset_previous.png);
	background-position:center left;
}

.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow {
	background-image:url(icons-classic/resultset_next.png);
	background-position:center right;
}

.ui-rangeSlider-arrow-inner {
	display:none;
}

.ui-rangeSlider-container {
	height:30px;
}

.ui-rangeSlider-withArrows .ui-rangeSlider-container {
	margin:0 0px;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container {
	margin:0;
}

.ui-rangeSlider-label {
text-align: center;
-webkit-appearance: none;
	background-image: none;
	font-weight: 700;
	width: 4em;
	margin: 0px 0px 9px 0px;
	background-color: #0000d4;
	color: #fff;
	bottom:-5px;
	padding:0px;
	cursor:hand;
}

.ui-rangeSlider-label-inner {
-webkit-appearance: none;
	background-image: none;
	font-size: 9em;
	display:none;
}

input.ui-editRangeSlider-inputValue {
	width:5em;
	vertical-align:left
	text-align:center;
}
