hr {
	border:.25px;
	width:80%;
	color:#2b2b2b;
	height:.25px;
	margin:.5px;
}

#legend {
    background: white;
    position: absolute;
    z-index: 2000;
    top: 10px;
    left: 50px;
    padding: 15px;
}

/* Time Buttons */
#menu {
	position:absolute;
	top:300px;
	left:50px;
	width:00px;
	height:100px;
	background:transparent;
	z-index:10;
}

#menu a {
	margin:1px 10px 0 0;
	float:right;
	vertical-align:baseline;
	width:70px;
	padding:10px;
	text-align:center;
	font:bold 11px Helvetica,Arial;
	line-height:normal;
	color:#555;
	border-radius:4px;
	border:1px solid #777;
	background:#fff;
	text-decoration:none;
	cursor:pointer;
}

#menu a.selected,#menu a:hover {
	color:#939598;
}

/* not sure where this is */
#timebuttons {
	position:absolute;
	top:0;
	left:100px;
}


div.bullet {
	width:100px;
}

div.sweetenpanel {
	position:absolute;
	top:200px;
	left:100px;
	width:100px;
	height:60px;
	background:transparent;
	z-index:10;
	position:absolute;
	width:10%;
	height:auto;
	background-color:rgba(255,255,255,0.5);
}

/* obsolete legend css */
div.custom-legend {
	font-family:"Montserrat",Arial;
	font-size:8px;
}

/* The interactive nav (depreceated) */
#layer_selector {
	position:absolute;
	bottom:40px;
	right:120px;
	padding:0;
}

#layer_selector ul {
	padding:0;
	margin:0;
	list-style-type:none;
	display:inline;
}

#layer_selector li {
	display:inline;
	border-bottom:1px solid #999;
	padding:5px 10px;
	font-family:"Montserrat",Arial;
	font-size:13px;
	color:#444;
	cursor:auto;
}

#layer_selector li:hover {
	background-color:#F0F0F0;
	cursor:pointer;
}

#layer_selector li.selectedmonth {
	background-color:#EEE;
}

#layer_selector li.selectedyear {
	background-color:#EEE;
}


/* Future Feature */
#data_charts {
	top:140px;
	left:50px;
	padding:50px;
	font-family:"Montserrat",Arial;
	font-size:13px;
	color:#444;
}

#data_charts ul {
	padding:29px 6px 43px 1px;
	margin:0;
	list-style-type:none;
	display:list-item;
}

#data_charts li {
	padding:10px;
	margin:0;
	list-style-type:none;
	display:list-item;
}

#data_charts li.data_charts_stack {
	padding:20px;
}

/* popup windowtype */

div.cartodb-popup {
	position:relative;
	width:250px;
	height:auto;
	padding:7px 0 0;
	margin:0;
	background:url(../img/light.png) no-repeat -226px 0;
}

div.cartodb-popup-content h1 {
	padding:0 0 5px;
	font-family:'Montserrat',sans-serif;
	color:#000;
	font:700 8px;
	line-height:1em;
	text-shadow:0 1px rgba(0,0,0,0.5);
	word-wrap:break-word;
}

div.cartodb-popup-content h2 {
	padding:5px 0 0;
	text-transform:capitalize;
	font-family:'Montserrat',sans-serif;
	font:400 .5em;
	line-height:.85em;
}

div.cartodb-popup-content h3 {
	padding:3px 0 0;
}

div.cartodb-popup-content h4 {
	padding:5px 0 0;
	font-size:12px;
}

div.cartodb-popup-content h3 {
	font-family:'Montserrat',san-serif;
	font:400 .25em;
}

div.cartodb-popup-content h4 {
	font-family:'Montserrat',san-serif;
	font:400 .15em;
}

div.cartodb-popup-content h5 {
	padding:10px 0 0;
	font-family:"Montserrat",Arial;
	font-size:9px;
	text-transform:uppercase;
}

div.cartodb-popup-content h6 {
	font-family:"Montserrat",Arial;
	font-size:18px;
}

div.cartodb-popup-content a {
	font-family:'Montserrat',san-serif;
	font:400 .15em;
}

div.cartodb-popup {
	position:relative;
	width:226px;
	height:auto;
	padding:5px 0 0;
	margin:0;
	background:url(../img/light.png) no-repeat -226px 0;
}


/* Zoom changes */

div.cartodb-zoom {
    position: relative;
    float:left;
    display:block;
    margin: 20px 0 0 20px;
    width: 28px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    z-index: 5;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
  }

  div.cartodb-zoom a {
    position:relative;
    display: block;
    width: 28px;
    height: 28px;
    padding: 0;
    font: bold 20px "Arial";
    color: #999999;
    text-align: center;
    line-height: normal;
    text-decoration: none;
    text-indent: -9999px;
    line-height: 0;
    font-size: 0;
    background:url('../img/other.png') no-repeat 0 0;
  }

  div.cartodb-zoom a.zoom_in {
    border-bottom: 1px solid #E6E6E6;
    background-position:-68px 10px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  div.cartodb-zoom a.zoom_in:hover {
    background-position:-68px -14px;
    cursor: pointer;
  }

  div.cartodb-zoom a.zoom_out {
    background-position:-94px 10px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  div.cartodb-zoom a.zoom_out:hover {
    background-position:-94px -14px;
    cursor: pointer;
  }

  div.cartodb-zoom a.disabled {
    filter: alpha(opacity=20);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
  }

  div.cartodb-zoom a.disabled:hover {
    cursor: default;
    color: #999999;
  }


  /* CartoDB zoom info control */

  div.cartodb-zoom-info {
    position:absolute;
    display:block;
    top:100px;
    left:20px;
    margin:20px 0 0 0;
    width: 28px;
    height:28px;
    font:normal 13px "Helvetica",Arial;
    color:#858585;
    text-align: center;
    line-height: 28px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    z-index: 5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999999;
    background: white;
  }
