/* For Side Panel */
.panel {
  font-size: 10px;
  left: 56px;
  position: absolute;
  top: 10px;
  width: 210px;
  z-index: 1000;
}
@media screen and (min-width: 320px) and (max-width: 568px) {

  .panel {
    top: auto;
    bottom: 20px;
    left: 6%;
    width: 88%;
    z-index: 10000;
  }
  .panel p, .panel .social { display: none; }
  .panel header h1 {
    background: #000 url("../img/map-legend-logo.png") center center no-repeat;
    background-size: 18px 21px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
  .panel article { display: none; }

}
.panel p { margin-top: 16px; }
.panel h1, .panel h3, .panel label, .panel p {
  padding: 0 16px;
}
.panel h1, .panel label {
  display: block;
  text-transform: uppercase;
}
.panel h1 {
  background: #000;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 36px;
  letter-spacing: 2.2px;
  margin: 0 0 1px 0;
}
.panel article {
  background: #fff;
  border: 2px solid #000;
}
.panel h3 {
  border: solid #000;
  border-width: 1px 0;
  box-sizing: border-box;
  font-weight: normal;
  margin-top: 16px;
  padding: 8px 14px;
  text-transform: uppercase;
  width: 100%;
}
.panel label {
  line-height: 25px;
  margin: 10px 0;
}
.panel label + h3 { margin-top: 6px; }
.panel label span {
  display: inline-block;
  width: 100px;
}
.panel figure{
  display: inline-block;
  text-align: center;
  margin: 0 10px 0 0;
  width: 24px;
}
.panel img {
  max-width: 100%;
  vertical-align: middle;
}
.panel .bordered {
  border: solid #ccc;
  border-width: 1px 0;
  padding: 10px;
}
.panel fieldset {
  border: 0;
  margin: 0;
  padding: 0 10px 10px;
}
.panel input[type="checkbox"] {
  -webkit-appearance: none;
  border: 1px solid #000;
  height: 14px;
  margin: 0;
  width: 14px;
  vertical-align: middle;
}
.panel input[type="checkbox"]:focus, .panel input[type="checkbox"]:active { outline: none; }
.panel input[type="checkbox"]:checked {
  background: url('../img/check-mark.png') center center no-repeat;
  background-size: 10px 10px;
}
.panel fieldset label {
  padding: 0;
  line-height: normal;
  margin: 0 0 10px;
}
.panel input[type="email"] {
  border: 1px solid #000;
  box-sizing: border-box;
  line-height: 30px;
  margin: 0 0 10px;
  padding: 0 6px;
  width: 100%;
}
.panel .button {
  -webkit-appearance: none;
  background: transparent;
  border: 2px solid #0000d4;
  color: #0000d4;
  cursor: pointer;
  font: 700 12px montserrat;
  letter-spacing: 2px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}

/* For Info Windows */
.leaflet-bar { box-shadow: none; }
@media screen and (min-width: 320px) and (max-width: 568px) {

  .leaflet-control-zoom {
    display: none;
  }

}
.leaflet-control-zoom a, .leaflet-control-zoom a:hover {
  background: #000;
  border-bottom: 0;
  color: #fff;
  height: 36px;
  line-height: 36px;
  width: 36px;
}
.leaflet-control-zoom a:first-child {
  border-radius: 0;
  margin-bottom: 1px;
}
.leaflet-control-zoom a:last-child { border-radius: 0; }
.leaflet-bar a.leaflet-disabled, a:hover.leaflet-disabled {
  background: #666;
  color: #fff;
}


.leaflet-container a.leaflet-popup-close-button {
  background: #000;
  border: solid #fff;
  border-width: 0 0 1px 1px;
  color: #fff;
  height: 36px;
  line-height: 36px;
  padding: 0;
  text-align: center;
  width: 36px;
  z-index: 110;
}
.leaflet-container a { color: #a5a7ab; }
.leaflet-popup-content-wrapper {
  background: transparent;
  border-radius: 0;
  border: solid #000;
  border-width: 2px 0;
  box-shadow: none;
  color: #fff;
  font-size: 10px;
  max-height: 309px;
  max-width: 301px;
  width: 301px;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.leaflet-popup-tip {
  background: #000;
  margin-top: -13px;
}
.leaflet-popup-content-wrapper header {
  background: #fff;
  display: block;
  line-height: 34px;
  border-bottom: 2px solid #000;
  padding-bottom: 1px;
  position: absolute;
  text-transform: uppercase;
  top: 2px;
  width: 100%;
  z-index: 100;
}
.leaflet-popup-content-wrapper header h2 {
  background: #000;
  margin: 0;
  padding-left: 16px;
  display: block;
}
/* .leaflet-container img { max-width: 100% !important; } */
.leaflet-popup-content-wrapper section {
  background: #fff;
  border: solid #000;
  border-width: 2px 2px 0;
  color: #000;
  padding: 12px 49px 12px 12px;
}
.leaflet-popup-content-wrapper section + section { border-top: 2px solid #000; }
section.sweeten-project { padding: 8px 12px 12px; }
.leaflet-popup-content-wrapper h2 {
  font-size: 16px;
  line-height: 34px;
  padding-bottom: 0;
  vertical-align: bottom;
}
.leaflet-popup-content-wrapper h3 {
  display: block;
  margin-top: 0;
}
.leaflet-popup-content-wrapper h3 + h3, .leaflet-popup-content-wrapper h3 + p { margin-top: 10px; }
.leaflet-popup-content-wrapper p + p { margin-top: 10px; }
.leaflet-popup-content {
  margin: 0;
  padding-top: 35px;
}
.leaflet-popup-content section + header { border-top: 1px solid #fff; }

.social {
  border-bottom: 1px solid #000;
  list-style: none;
  margin: 0 0 16px;
  overflow: hidden;
  padding: 8px 0 8px 16px;
}
.social li {
  float: left;
  margin-right: 15px;
}
.social li a {
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.social li a.sweeten {
  background-image: url("../img/sweeten-logo.png");
  background-size: 86px 15px;
  height: 15px;
  width: 86px;
}
.social li a.twitter {
  background-image: url("../img/twitter.png");
  background-size: 16px 13px;
  height: 13px;
  width: 16px;
}
.social li a.facebook {
  background-image: url("../img/facebook.png");
  background-size: 12px 13px;
  height: 13px;
  width: 12px;
}
.social li a.twitter, .social li a.facebook { margin-top: 2px; }

@media screen and (min-width: 320px) and (max-width: 568px) {

  #slider { bottom: 100px; }

}

.ui-rangeSlider .ui-rangeSlider-innerBar {
  background: #000;
  border: 0;
  height: 10px;
  margin: 0;
}
.ui-rangeSlider .ui-rangeSlider-bar {
  background: #0000d4;
  height: 10px;
  margin: 0;
}
.ui-rangeSlider .ui-rangeSlider-handle {
  background: #0000d4;
  border: 0;
  box-shadow: none;
  height: 20px;
  width: 20px;
}
.ui-rangeSlider .ui-rangeSlider-label {
  background: #000;
  border: 0;
  border-radius: 0;
  font-size: 8px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 1px;
  margin: 0 0 -3.5em 0;
  text-transform: uppercase;
  padding: 0 0.5em;
}


.ui-rangeSlider .ui-rangeSlider-label {
  position: relative;
  background: #000;
}
.ui-rangeSlider .ui-rangeSlider-label:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ui-rangeSlider .ui-rangeSlider-label:after {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #000;
  border-width: 6px;
  left: 50%;
  margin-left: -6px;
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  .cartodb-logo { display: none !important; }
  .leaflet-bottom.leaflet-right { display: none; }
}
